* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #1fad1a;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

body div {
    display: flex;
    flex: 1;
}